.flex-container {
    display: flex;
    height: 150px;
    background-color: black;
    align-content: flex-start;
}

.flex-container>div {
    width: 100px;
    margin: 3px;
}

#flex {
    display: flex;
    height: 150px;
    background-color: black;
    /* align-content: flex-start; */
}

#flex>div {
    width: 100px;
    margin: 3px;
}

#number {
    background-color: black;
    color: yellow;
    font-size: 24px;
}